body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 0;
	background-color: #888;
	font-family: "Press Start 2P", system-ui;
}

.title {
	transition: all 0.5s;
	text-align: center;
}

.scores {
	display: flex;
	gap: 300px;
}

.board {
	display: grid;
	grid-template-columns: repeat(20, 20px);
	grid-template-rows: repeat(20, 20px);
	border: 2px solid black;
	background-color: #aeffbc;
}

.snake {
	background-color: #369b47;
	border: 1px solid #777;
}

.snake:first-child {
	background-color: rgb(62, 59, 202);
}

.food {
	background-color: rgb(199, 4, 4);
}
